matplotlib
mlflow
pillow
scikit-image==0.24.0
seaborn
progress

--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
einops==0.3.0

# models
segmentation-models-pytorch
transformers
albumentations

# for CI
pytest==8.2.2